body{
    letter-spacing: 1px;
    text-decoration: none;
    background: url(https://i.pinimg.com/originals/21/17/7e/21177e4928e9c2e1c2f01510ba315e61.png);
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    image-rendering: optimizeQuality;
}

button{background-color: transparent;
    display: inline-block;
text-decoration: none;
color: whitesmoke;
padding: 8px 16px;
margin: 0 2px;
border: 1px solid #fff;
letter-spacing: 1px;
     border-image: linear-gradient(
to right,
#fff 15%,
rgba(0,0,0,0) 30%,
rgba(0,0,0,0) 70%,
#fff 85%
) 1;
transition: all .2s;
    margin-top: 20px;
}

button:hover{background-color: gray;
    display: inline-block;
text-decoration: none;
color: whitesmoke;
padding: 8px 16px;
margin: 0 2px;
border: 1px solid #fff;
letter-spacing: 1px;
     border-image: linear-gradient(
to right,
#fff 15%,
rgba(0,0,0,0) 30%,
rgba(0,0,0,0) 70%,
#fff 85%
) 1;
transition: all .5s;
    margin-top: 20px;
}



.grid-container {
    text-decoration: none;
    color: black;
border: 1px solid #fff;
padding-left:30em;
padding-top: 5em;
}

/************************************************Navigation*****************************************/

nav {
      background-color: rgba(0, 0, 0, 0.9);
      position: fixed;
      top: 0;
      left: 0;
      backdrop-filter: blur(5px);
      height: 80px;
      width: 100%;
      
    }
    
nav ul {
      float: right;
      margin-right: 30px;
    }
    
nav ul li {
      display: inline-block;
      margin: 15px 15px 30px;
    }
    
nav ul li a {
      margin-right: 30px;
      color: rgb(203, 229, 142);
      text-decoration: none;
    }