body{
    background: url(https://e0.pxfuel.com/wallpapers/612/956/desktop-wallpaper-aot-background-references-ideas-attack-on-titan-attack-on-titan-anime-attack-on-titan-aesthetic-attack-on-titan-scenery.jpg);
    background-size: cover;
    height: 100px;
    image-rendering: optimizeQuality;
    text-align: center;
    padding-top: 20em;
    padding-right: 2em;
    }


/* this code below is for the link which lead to the home page*/
a{
    text-align: center;
    text-decoration: none;
    font-family: Becker;
    color: black;
    animation: blink-text 1.9s linear infinite;
    font-size: 2em;
   }

   @keyframes blink-text{
    0% {
     opacity: 0;
    }
    50% {
     opacity: 1;
    }
    100% {
     opacity: 0;
    }
}